// Colors
$o-community-color: #f4b418;
$o-enterprise-color: #f4b418;
$o-enterprise-primary-color: #313131;
$o-enterprise-secondary-color: #fff;

$o-brand-odoo: $o-enterprise-color;
$o-brand-primary: $o-enterprise-primary-color;
